@import "../../styles/utils.scss";
.ranking-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .top-rankings-container {
    // border: $border;
    width: 100%;
    height: 18rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    .rank-1-box {
      //   border: 2px solid red;
      width: 9rem;
      height: 15rem;
      position: relative;
      border-radius: 15px 15px 0px 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      > span {
        position: absolute;
        left: 50%;
        height: 5rem;
        width: 5rem;
        transform: translateX(-50%);
        top: -4rem;
      }

      > h5 {
        font-size: 0.8rem;
      }

      > h4 {
        font-size: 2rem;
      }

      > h3 {
        font-size: 1.2rem;
      }
    }

    .rank-2-box {
      //   border: 2px solid red;
      width: 9rem;
      height: 11rem;
      position: relative;
      border-radius: 15px 15px 0px 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      > span {
        position: absolute;
        left: 50%;
        height: 5rem;
        width: 5rem;
        transform: translateX(-50%);
        top: -4rem;
      }
      > h5 {
        font-size: 0.8rem;
      }

      > h4 {
        font-size: 2rem;
      }

      > h3 {
        font-size: 1.2rem;
      }
    }

    .rank-3-box {
      //   border: 2px solid red;
      width: 9rem;
      height: 8rem;
      position: relative;
      border-radius: 15px 15px 0px 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      > span {
        position: absolute;
        left: 50%;
        height: 5rem;
        width: 5rem;
        transform: translateX(-50%);
        top: -4rem;
      }
      > h5 {
        font-size: 0.8rem;
      }

      > h4 {
        font-size: 2rem;
      }

      > h3 {
        font-size: 1.2rem;
      }
    }
  }
}
