@import "../../styles/utils.scss";

.StyledHeader{
    padding: 0.5rem 2rem;
  
    display: flex;
    gap: 2.4rem;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    z-index: 50;  
    .StyledHeaderMenu{
        display: flex;
        gap: 0.4rem;

        .ButtonIcon{
            background: none;
            border: none;
            padding: 0.6rem;
            border-radius: 8px;
            transition: all 0.2s;
          
            &:hover {
              background-color: $color-grey-600;
            }
          
            & svg {
              width: 1.5rem;
              height: 1.5rem;
              color: $color-brand-600;
            }
        }
    }
}